* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.light-mode {
   background: cadetblue;
   color: #000;
}
#lig-btn {
   font-size: 1.2em;
   margin-right: 4em;
   background: transparent;
   color: cadetblue;
   border: none;
   position: relative;
   animation: btn 10s linear 0.1s infinite alternate;
}
@keyframes btn {
   0% {
      filter: opacity(0%) blur(0px);
      transform: rotateZ(360deg);
   }
   100% {
      filter: opacity(100%) blur(0);
   }
}
body {
   background-color: #000;
   color: #fff;
   font-family: cursive, sans-serif;
   font-size: 2em;
   width: 100%;
   line-height: 1.7em;
}
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header img {
   width: 170px;
   position: relative;
   animation: logo 2.5s linear 0.1s infinite alternate;
}
@keyframes logo {
   0% {
      filter: drop-shadow(0 0 0px skyblue);
   }
   20% {
      filter: drop-shadow(0 0 7px skyblue);
   }
   40% {
      filter: drop-shadow(0 0 14px skyblue);
   }
   60% {
      filter: drop-shadow(0 0 21px skyblue);
   }
   80% {
      filter: drop-shadow(0 0 28px skyblue);
   }
   100% {
      filter: drop-shadow(0 0 35px skyblue);
   }
}
header img:hover {
   transition: transform 2s;
   transform: rotateY(360deg) scale(1.2, 1.2);
}
.links {
   text-decoration: none;
   color: #fff;
}
.links:hover {
   background: rgba(255, 255, 255, 0.3);
   padding: 8px 15px 8px 25px;
   border-top-left-radius: 50%;
   border-bottom-left-radius: 50%;
   transition: 1.5s;
}

#link {
   text-decoration: none;
}
#togg {
   font-size: 30px;
   width: 30px;
   margin: 0 30px 0 0;
   display: none;
}
#toggle {
   display: none;
}
.nav-bar {
   display: flex;
   list-style: none;
   justify-content: space-evenly;
   width: 70vw;
}
.nav-bar li {
   font-variant: small-caps;
}
.nav-bar li::after {
   content: "\01F4A8";
   font-size: 1.3em;
   background: transparent;
   filter: drop-shadow(0 0px 10px yellow);
   display: none;
}
.nav-bar li:hover::after {
   display: inline;
}
main {
   color: #fff;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
#about {
   display: grid;
   margin: 3em;
   grid-template-columns: 1fr;
   gap: 0.5em;
   grid-template-rows: auto;
}
main img {
   width: 400px;
   border-radius: 50%;
   filter: grayscale(100%) opacity(80%) contrast(110%)
      drop-shadow(2px 3px 10px grey);
}
main h2::first-letter {
   font-size: 1.6em;
   text-shadow: 0 0 5px skyblue;
}
main h4 {
   font-size: 1.3em;
}
main h4 span {
   text-shadow: -2px 3px 2px tomato;
   font-size: 1.35em;
   color: skyblue;
}
main p {
   letter-spacing: 10px;
   word-spacing: 7px;
   font-size: 0.8em;
}
.resume {
   text-decoration: none;
   color: #fff;
   text-shadow: 1px 1px 2px #7303c0;
}
.resume:hover,
.resume:focus {
   filter: drop-shadow(0 0 10px skyblue);
}
#social button {
   background: transparent;
   padding: 10px;
   font-weight: bold;
   border: none;
   box-shadow: 5px 5px 3px #545170, inset -2px 5px 3px #7303c0,
      inset -5px -2px 3px #ec38bc, inset 3px -3px 3px #fdeff9;
}
#social > i {
   font-size: 1em;
}
.projects {
   margin: 2em 0;
   padding: 2em;
   background: rgba(255, 255, 255, 0.15);
   display: flex;
   color: #fff;
   justify-content: space-evenly;
   align-items: center;
}
.projects img {
   width: 300px;
   height: 300px;
   display: block;
   border-radius: 20px;
   transition: 2s;
   margin: 0 auto;
}
.projects #first-pro {
   font-size: 0.35em;
   padding: 0 10px;
}
.projects #sec-pro {
   font-size: 0.35em;
   padding: 0 10px;
}
.projects #third-pro {
   font-size: 0.35em;
   padding: 0 10px;
}
.projects img:hover {
   transition: width 2s, height 2s;
   width: 200px;
   height: 200px;
}
.projects h2 {
   font-family: "Times New Roman", Times, serif;
   position: relative;
   animation: proar 2s linear 0.1s infinite alternate;
}
.projects h2::after {
   content: " \0021DD";
}
@keyframes proar {
   from {
      transform: rotateX(60deg);
      top: 0;
      right: 0;
   }
   to {
      transform: rotateX(0deg);
      top: 0;
      right: 50px;
   }
}
.projects > div {
   border: 5px white solid;
   border-top-left-radius: 30%;
   background: black;
   padding: 30px;
   text-align: center;
   position: relative;
   animation: project 15s ease 0.1s infinite alternate;
}
@keyframes project {
   0% {
      box-shadow: 10px 10px 10px white;
   }
   15% {
      box-shadow: 10px 10px 10px red;
   }
   30% {
      box-shadow: 10px 10px 10px orange;
   }
   45% {
      box-shadow: 10px 10px 10px yellow;
   }
   60% {
      box-shadow: 10px 10px 10px green;
   }
   75% {
      box-shadow: 10px 10px 10px blue;
   }
   90% {
      box-shadow: 10px 10px 10px indigo;
   }
   100% {
      box-shadow: 10px 10px 10px violet;
   }
}
.projects h3 {
   font-variant: small-caps;
   text-decoration: overline;
   margin-top: 15px;
   text-shadow: 2px 2px 2px skyblue;
   font-size: 0.8em;
}
.projects .pro {
   text-decoration: none;
   padding: 10px 0;
}
.projects span {
   position: relative;
   animation: arrow 15s ease 0.1s infinite alternate;
}
@keyframes arrow {
   0% {
      text-shadow: -5px 0px 3px white;
   }
   15% {
      text-shadow: -5px 0px 3px red;
   }
   30% {
      text-shadow: -5px 0px 3px orange;
   }
   45% {
      text-shadow: -5px 0px 3px yellow;
   }
   60% {
      text-shadow: -5px 0px 3px green;
   }
   75% {
      text-shadow: -5px 0px 3px blue;
   }
   90% {
      text-shadow: -5px 0px 3px indigo;
   }
   100% {
      text-shadow: -5px 0px 3px violet;
   }
}
.projects .github {
   text-decoration: none;
   color: #fff;
   font-size: 0.6em;
}
.projects .readM-btn {
   background: transparent;
   color: #fff;
   padding: 10px;
   border-bottom-right-radius: 20px;
   border-top-left-radius: 20px;
   position: relative;
   font-weight: bold;
   animation: readbtn 7s linear 0.1s infinite alternate;
}
@keyframes readbtn {
   0% {
      border: none;
   }
   25% {
      border-top: 2px ridge white;
   }
   50% {
      border-right: 2px ridge white;
   }
   75% {
      border-bottom: 2px ridge white;
   }
   100% {
      border-left: 2px ridge white;
   }
}
footer {
   width: 95vw;
   background-color: rgba(255, 255, 255, 0.15);
   display: block;
   margin: 0 auto;
   color: #fff;
   border-top-left-radius: 40px;
}
footer img {
   width: 200px;
   display: block;
   margin: 0 auto;
   position: relative;
   animation: foot-img 3.5s ease-in-out 0.1s infinite alternate;
}
@keyframes foot-img {
   0% {
      transform: scale(0, 0) rotateY(360deg);
   }
   100% {
      transform: scale(1, 1);
      filter: drop-shadow(0 0 5px tomato);
   }
}
footer div > p {
   font-size: 0.6em;
   margin-left: 10px;
}
footer .container {
   display: grid;
   grid-template-columns: 1fr 1fr;
}
footer form {
   font-size: 0.7em;
   margin-right: 20px;
   padding: 5px 10px;
   position: relative;
   animation: form 8s linear 0.1s infinite alternate-reverse;
}
@keyframes form {
   0% {
      border: none;
      box-shadow: 0 0 1px #fff;
   }
   25% {
      border-top: 5px groove #7303c0;
      box-shadow: 1.5px -1.5px 10px #fff;
   }
   50% {
      border-right: 5px groove #7303c0;
      box-shadow: 3px -3px 10px #fff;
   }
   75% {
      border-bottom: 5px groove #7303c0;
      box-shadow: 4.5px -4.5px 10px #fff;
   }
   100% {
      border-left: 5px groove #7303c0;
      box-shadow: 5px -5px 10px #fff;
   }
}
footer form fieldset {
   text-align: center;
   font-variant: small-caps;
   border: 3px solid #ec38bc;
   padding: 20px;
}
footer #sub-btn {
   background: linear-gradient(to right, #5f2c82, #49a09d);
   color: #fff;
   margin: 10px 0;
   padding: 12px;
   font-weight: bold;
   font-family: cursive;
   font-size: 0.8em;
   border-radius: 20px 20px 0 30px;
   border: 3px ridge #fff;
}
footer input {
   margin: 10px 0;
}
footer input[type="text"],
[type="email"] {
   width: 30ch;
   background: transparent;
   color: #fff;
   height: 4ch;
   font-size: 0.7em;
   padding: 7px;
   border: 2px solid white;
   caret-color: #ec38bc;
}
footer input[type="text"]:focus,
[type="email"]:focus {
   background: #545170;
   caret-color: #7303c0;
}
footer form textarea {
   color: #fff;
   background: transparent;
   border: 2px solid white;
   font-size: 0.8em;
   padding: 7px;
   caret-color: #ec38bc;
}
footer form textarea:focus {
   background: #545170;
   caret-color: #7303c0;
}
footer #madeby {
   clear: both;
   font-size: 0.5em;
   letter-spacing: 2px;
   text-align: center;
   padding: 15px 0;
}
footer #madeby span {
   color: yellow;
   position: relative;
   font-size: 2em;
   animation: heart 10s ease 0.1s infinite reverse;
}
@keyframes heart {
   0% {
      color: red;
   }
   10% {
      color: orange;
      text-shadow: -2px -1px 3px white;
   }
   20% {
      color: yellow;
   }
   30% {
      color: green;
      text-shadow: -2px -1px 3px white;
   }
   40% {
      color: dodgerblue;
   }
   50% {
      color: purple;
      text-shadow: -2px -1px 3px white;
   }
   60% {
      color: white;
   }
   70% {
      color: brown;
      text-shadow: -2px -1px 3px white;
   }
   80% {
      color: hotpink;
   }
   90% {
      color: aqua;
      text-shadow: -2px -1px 3px white;
   }
   100% {
      color: chartreuse;
   }
}
@media only screen and (min-width: 320px) and (max-width: 688px) {
   header {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
   }
   .nav-bar {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      background: rgba(255, 255, 255, 0.15);
      clip-path: polygon(
         0% 15%,
         15% 15%,
         15% 0%,
         85% 0%,
         85% 15%,
         100% 15%,
         100% 85%,
         85% 85%,
         85% 100%,
         15% 100%,
         15% 85%,
         0% 85%
      );
      justify-content: flex-start;
   }
   .nav-bar li {
      display: none;
      margin: 20px 0;
      font-size: 20px;
   }
   #togg {
      font-size: 1.2em;
      width: 30px;
      color: #fff;
      position: absolute;
      top: 3.5em;
      right: 1px;
      display: block;
   }
   #toggle:checked + .nav-bar li {
      display: block;
      font-weight: bold;
   }
   #lig-btn {
      font-size: 1.2em;
      margin-right: 4em;
      background: transparent;
      color: cadetblue;
      position: absolute;
      top: 1.5em;
      left: 50%;
   }
   main {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }
   main h2::first-letter {
      font-size: 1.7em;
   }
   main h2 {
      font-size: 1em;
   }
   main img {
      width: 300px;
      display: block;
      margin: 0 auto;
   }
   main h4 {
      font-size: 0.7em;
   }
   main h4 span {
      font-size: 1.4em;
   }
   main p {
      letter-spacing: 10px;
      word-spacing: 7px;
   }
   .projects {
      flex-direction: column;
      display: flex;
   }
   .projects img {
      width: 200px;
      height: 200px;
   }
   .projects > div {
      margin: 1.5em 0;
   }
   .projects img:hover {
      width: 170px;
      height: 170px;
   }
   .projects h2::after {
      content: " \2B9F";
   }
   .projects h3 {
      font-size: 0.5em;
   }
   @keyframes proar {
      from {
         transform: rotateX(0deg);
         top: 0;
         right: 0;
      }
      to {
         transform: rotateX(50deg);
         top: 30px;
         right: 0px;
      }
   }
   .projects .github {
      font-size: 0.4em;
   }
   footer .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
   }
   footer div > p {
      font-size: 0.5em;
      text-align: center;
      margin-bottom: 10px;
   }
   footer form {
      font-size: 0.5em;
      margin-right: 10px;
      padding: 5px;
      position: relative;
      animation: form 8s linear 0.1s infinite alternate-reverse;
   }
   footer form fieldset {
      text-align: center;
      font-variant: small-caps;
      border: 3px solid #ec38bc;
      padding: 7px;
   }
}
@media only screen and (min-width: 689px) and (max-width: 1024px) {
   header ul li {
      font-size: 0.7em;
   }
   header img {
      width: 140px;
   }
   #lig-btn {
      font-size: 0.9em;
   }
   .nav-bar li::after {
      content: "\01F4A8";
      font-size: 1em;
   }
   .projects {
      display: flex;
      flex-direction: column;
   }
   .projects h2::after {
      content: " \2B9F";
   }
   .projects img {
      width: 250px;
   }
   .projects > div {
      margin: 1.5em 0;
   }
   main {
      display: flex;
      justify-content: space-between;
   }
   #about {
      display: grid;
      margin: 3em 1em;
      grid-template-columns: 1fr;
      gap: 0.5em;
      grid-template-rows: auto;
   }
   main img {
      width: 270px;
   }
   main h2 {
      font-size: 1em;
   }
   main h2::first-letter {
      font-size: 1.9em;
      text-shadow: 0 0 5px skyblue;
   }
   main h4 {
      font-size: 1em;
      letter-spacing: 2px;
   }
   main h4 span {
      text-shadow: -2px 3px 2px tomato;
      font-size: 1.5em;
      color: skyblue;
   }
   main p {
      letter-spacing: 6px;
      word-spacing: 8px;
      font-size: 0.8em;
   }
   @keyframes proar {
      from {
         transform: rotateX(0deg);
         top: 0;
         right: 0;
      }
      to {
         transform: rotateX(50deg);
         top: 30px;
         right: 0px;
      }
   }
   footer .container {
      display: grid;
      gap: 1em;
      grid-template-columns: 1fr 1fr;
   }
   footer div > p {
      font-size: 0.55em;
   }
   footer form {
      font-size: 0.7em;
   }
}
@media only screen and (min-width: 1025px) {
   header ul li {
      font-size: 0.85em;
   }
   .projects {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2em;
   }
   .projects h2 {
      animation-duration: 3s;
   }
   @keyframes proar {
      from {
         transform: rotateX(0deg);
         top: 0;
         left: 0;
      }
      to {
         transform: rotateX(90deg);
         top: 0;
         left: 100px;
      }
   }
   .projects img {
      width: 200px;
   }
}
